.col {
    vertical-align: middle;
}

.searchbar{
    padding: 10px;
    border-radius: 6px;
}
.customerimage {
    width: 80px!important;
    position: relative;
    bottom: 5px;
    left: 8px;
    top: 0px !important;
}

.table-border {
    border: 0px solid rgb(222, 222, 222);
    border-radius: 8px;
    background-color: white;
    overflow: auto;
}

.end {
    position: relative;
    left: 95px;
}

.background {
    background-color: rgb(235, 235, 235);

}

@media only screen and (max-width: 993px) {
    .data {
        display: flex;
        margin-left: 3px;
        width: 83px;
        justify-content: space-between;
        padding: 0px 0px 0px 0px;

    }
}

@media only screen and (max-width: 1199px) {
    .data {
        display: flex;
        margin-left: 3px;
        width: 83px;
        justify-content: space-between;
        padding: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width: 30%) {
    .data {
        overflow: unset;
        -webkit-overflow-scrolling: touch;
    }
}
.active-text{
    color: green;
}