.backcolor{
    background-color: rgb(243, 240, 240);
}
.navbar>ul{
    display: flex; 
    margin-left: 22px;
}
li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;

}
.underline{
    border-bottom: 5px solid yellow;
    width: 96px;
}

.merchant-search-tab{
    display: flex;
    width: 100%;
}
ul>li {
    list-style-type: none;
    display: inline;
}

ul {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 118px;
    position: relative;
    left: 40px;
    top: -35px;
}
.logo>img{
    width: 110px;
}
.admintext {
    position: relative;
    top: 33px;
    right: -41px;
}
.nav{
    z-index: -1;
}
.adminimg {
    position: relative;
    top: -32px;
    left: 33%;

}
.textcolor{
    color: rgb(33, 205, 39);
    display: flex;
    align-items: center;
    position: relative;
    top: -32px;
}
.icon2{
    width: 20px;
}
.page{
    background-color: white;
    border-radius: -47%;
    border: -9px solid white;

    border-radius: 83px;
}
.subnav {
     list-style-type: none;
    position: relative;
    align-items: center;
    left: 275px;
    width: 460px;
    top: -44px;
    display: flex;
    justify-content: space-around;
}
.Adn{
    position: relative;
    top: -9px;
}
.update{
    color: white;
    width: 90px;
    padding: 2px;
}
select{
    border: none;
    border-bottom: 2px solid black;
}


.custimg_name {
    display: flex;
    position: relative;
    top: 23px;
}


.storeimg {
    width: 30px;
    height: 30px;
}


.details {
    background-color: white;
    border-radius: 23px;
}

.design{
    position: relative;
    left: 33%;
    width: 17%;
    top: -103px;
    z-index: 1; 
}
.form {
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    
    left: 86px;
    height: 90%;
    top: -32px;
    width: 90%;
}

.small {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 86px;
    width: 90%;
    margin-top: 20px;
}

.req {
    position: relative;
    left: 86px;
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(212, 212, 212);
}
.req>p{
    padding: 6px 0px 0px 9px;
}
.Footer {
    text-align: center;
    background-color: rgb(255, 219, 38);
    padding: 6px;
    margin-top: 70px;
}

.bank {
    display: flex;
}
.bank>p .bank{
    width: 6px;
}
.bank>p{
    color: rgb(49, 151, 176);
    color: black;
    width: 60%;
}
.merchant-img{
    width: 73px;
    top: -12px;
}
.svg-align{
    top:-17px
}
.blownev {
    position: relative;
    left: 86px;
    width: 90%;
    margin: 4px 1px -7px 0px;
    padding: 8px 2px 1px 1px;
}
.color{
    background-color: #ebe8e8;
    width: 100%;
    position: relative;
    left: 12px;
}

select{
    background-color: white;
    font-weight: 200;
}